#button{display: inline;}
#textwi{font-family: 'Lora', serif; color: black; display: inline; background-color: white; border: 1.5px solid black; border-radius: 5px; font-weight: bold;}
#textwi:hover{background-color: black; border: 1.5px solid black; border-radius: 5px; color: white; font-weight: bold;}
a:link{text-decoration: none;}
.content1{background-color: black; float: left; border: 2px solid white; width: 100%;}
.content2{background-color: black; float: left; border: 2px solid white; width: 100%; height: 30%;}
.header{width: 100%; height: 150px; background-color: white;}
#text{font-family: 'Lora', serif;}
h1{font-family: 'Lora', serif; font-size: 40px;}
#textw{font-family: 'Lora', serif; color: black; display: inline;}
#h1w{font-family: 'Lora', serif; font-size: 40px; color: black;}
#wh1{font-family: 'Lora', serif; font-size: 40px; color: white;}
#wt{font-family: 'Lora', serif; color: white; display: inline;}
body{background-color: white;}
#textwil{font-family: 'Lora', serif; color: black; display: inline; background-color: white; border: 1.5px solid black; border-radius: 5px; font-weight: bold; font-size: 30px;}
#textwil:hover{background-color: black; border: 1.5px solid white; border-radius: 5px; color: white; font-weight: bold;}

@keyframes contact {
  from {font-family: 'Lora', serif; color: black; display: inline; background-color: white; border: 2px solid black; border-radius: 5px; font-weight: bold;}
  to {background-color: black; border: 2.5px solid black; border-radius: 5px; color: white; font-weight: bold;}
}

#textwi:hover{
  animation-name: contact;
  animation-duration: 0.1s;
}

@keyframes click {
  from {font-family: 'Lora', serif; color: black; display: inline; background-color: white; border: 1.5px solid black; border-radius: 5px; font-weight: bold; font-size: 30px;}
  to {background-color: black; border: 1.5px solid white; border-radius: 5px; color: white; font-weight: bold;}
}

#textwil:hover{
  animation-name: click;
  animation-duration: 0.5s;
}
